@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the Maxhmir CrossPlatform Lab5</h2>
            <div>

                <a href="/Labs/Lab1">
                <button class="btn btn-success">LabWork1</button>
                </a>

                <a href="/Labs/Lab2">
                <button class="btn btn-success">LabWork2</button>
                </a>

                <a href="/Labs/Lab3">
                <button class="btn btn-success">LabWork3</button>
                </a>

            </div>
    </div>
</div>
