@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<br />
<br />

<p class="lab1_p">
    Щоб заробити величезний капітал, новим російським необхідно мати неординарне мислення. Звичайно, при такій складній роботі повинні бути присутніми якісь особливі механізми для відпочинку та розваг. З цією метою в казино придумали спеціальний набір доміно для нових росіян. Звичайні кістки доміно є набір з різних комбінацій поєднань двох плиток, на кожній з яких відображається від 0 до 6 точок. А цей набір є подібними поєднаннями плиток, але кількість точок на кожній може бути від нуля до заданого значення, яке залежить від інтелектуального рівня гравців. У такому наборі кісток присутні різні поєднання плиток, але при цьому жодна з кісток не повторюється (навіть такі комбінації як 2-5 і 5-2 вважаються однаковими).
    Для виготовлення даного набору кісток перед виробником постала проблема обчислення сумарної кількості точок на всіх кістках доміно. Це пов'язано з тим, що доміно для нових росіян прикрашається діамантами, які є крапками на плитках і при виготовленні необхідно оцінити вартість.
    Допоможіть написати програму, яка вирішить це завдання.<br />
    Вхідні дані<br />
    Рядок містить одне натуральне число N – максимальна кількість точок на одній плитці доміно. (N ≤ 10000)<br />
    Вихідні дані<br />
    Виведіть кількість діамантового каміння, яке необхідно виготовити для заданого набору кісток.<br />
    приклад<br />
    INPUT	OUTPUT<br>
    2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	        12
</p>
@using (Html.BeginForm("DoLab1", "Labs", FormMethod.Post)) { 

    <div class="I/O_form">
        <input class="form-control" type="number" name="input1">
   <a href="/Labs/DoLab1">
            <button class="btn btn-success">розрахувати</button>
    </a>
        <input class="form-control" type="number" readonly value="@TempData["result"]">
</div>
}
