@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<br />
<br />

<p>
    2127 рік. Минуло вже багато років відколи відбулася перша олімпіада з інформатики. Як і багато інших змагань, наші олімпіади тепер проводяться за кілька днів. 
    Тепер навіть завдання вибору відповідного часу для олімпіади становить певні труднощі.
    Адже на різних планетах використовуються різні способи відліку часу: довжина місяця, кількість днів на тижні і ті дні, за якими неможливе проведення олімпіади, можуть відрізнятися. 
    Виникла необхідність написання програми, яка допоможе вирішити це завдання. І тоді в журі згадають, що вже зараз ми передбачали таку ситуацію та запропонували вам вирішити подібне завдання.
    Як перший крок знайдіть кількість способів вибрати час проведення олімпіади.<br />
    У першому рядку вхідного файлу INPUT.TXT містяться два цілих числа n і k (1 ≤ k ≤ n ≤ 100000) - кількість днів місяця та тривалість олімпіади відповідно.<br />
    У другому рядку задаються кількість днів у тижні w, кількість днів, заборонених щотижня, dw та день тижня, на який припадає перший день місяця s (1 ≤ s ≤ w ≤ n, 0 ≤ dw ≤ w). <br />
    Третій рядок містить dw номерів днів тижня (наприклад, вихідних), які не можна проводити олімпіаду.<br />
    У четвертому рядку записано кількість днів місяця dm, які не підходять для проведення олімпіади з причин, відмінних від щотижневого розпорядку (наприклад, такими днями є державні свята).<br />
    Останній рядок містить dm цілих чисел – номери цих днів. Дні місяця також нумеруються починаючи з 1. Зауважимо, що деякі дні можуть бути забороненими відразу з обох причин.<br />
    У вихідний файл OUTPUT.TXT виведіть єдине ціле число - кількість способів вибрати k поспіль днів, в які можливе проведення олімпіади.<br />
    Приклад:
    	<br>
    31 3<br>
    7 1 7<br>
    7<br>
    2<br>
    1 9	<br>
    Вивід:  15

</p>




@using (Html.BeginForm("DoLab2", "Labs", FormMethod.Post))
{

    <div class="I\O-form">
        <textarea class="form-control" name="input2" rows="7">  </textarea>
        <a href="/Labs/DoLab2">
            <button class="btn btn-success">розрахувати</button>
        </a>
        <input class="form-control" type="number" readonly value="@TempData["result"]">
    </div>
}