@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<br />
<br />
<br />
<p>
    Вася Пупкін взяв листочок у клітку і почав його різати по певних лініях. На запасному листку такого ж розміру він зафарбував клітки, якими проходили лінії. 
    Василь Васильович так захопився цим заняттям, що заплутався скільки частин від аркуша в нього залишилося. Ваше завдання знайти це число.<br />
    Вхідні дані<br />
    У вхідному файлі INPUT.TXT у першому рядку записані N та M (0 < N, M ≤ 100) – розмірність матриці. <br />
    Далі записана матриця з N рядків, кожен з яких містить M нулів та одиниць. 0 позначає незабарвлену клітину і 1 - зафарбовану (лінію розрізу).<br />
    Вихідні дані<br />
    У вихідний файл OUTPUT.TXT слід вивести кількість частин аркуша, що залишилися.<br />
    приклад<br />

    	4 4<br />
        0 0 1 0<br />
        0 0 1 0<br />
        0 1 0 0<br />
        1 0 0 1<br />
    Вивід:  2
</p>




@using (Html.BeginForm("DoLab3", "Labs", FormMethod.Post))
{

    <div class="I\O-form">
        <textarea class="form-control" name="input3" rows="7"> Вхідні дані </textarea>
        <a href="/Labs/DoLab3">
            <button class="btn btn-success">розрахувати</button>
        </a>
        <input class="form-control" type="number" readonly value="@TempData["result"]">
    </div>
}